body {
  margin: 0;
  background-color: darkslategray;
}

#stackerGridBody{
  display:grid;
}

.stackerGridTile{
  width:30px;
  height: 30px;
  border:1px solid black;
}

.off{background-color: dimgray;}
.on{background-color:brown;}

#stackerContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#stackerTitle {
  font-size:30px;
  font-weight: bold;
}
